# Environment variable files
.env

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Java Archives
*.jar
*.war
*.nar
*.ear

# Compressed files
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*
core

# Hadoop config files
core-site.xml

# General exclusions
.DS_Store  # macOS-specific metadata
Thumbs.db  # Windows-specific metadata
